REACT_APP_ENV=development
REACT_APP_API_URL=http://localhost:3001
REACT_APP_IMAGE_SERVER_URL=http://localhost:3001/uploads
REACT_APP_GOOGLE_RECAPTCHA_KEY=6LdUNTgcAAAAAB2FKMCSX6stdwYGNmJlCKkXfaRC
REACT_APP_GOOGLE_RECAPTCHA_SECRET=6LdUNTgcAAAAANNwcDcq4stJ_oqVjxGj3bLbMjSJ